.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  main > section{
    margin-top: 130px;
  }

 body{
    /* width: 1440px;  */
    margin:0 auto;
    
 }
 .nav-mobile{
    display:none;
 }

 linearGradient{
     
 }

 .yellow{
    color: rgba(254, 163, 1, 1);
 }

 .blue{
    color:rgba(1, 172, 253, 1)
 }
 .blue2{
    color: rgba(5, 212, 223, 1);
}

.blue3{
    color:rgba(93, 88, 239, 1);
}

.display-flex{
    display: flex;
}

.display-none{
    display: none;
}

.bg-image1{
    background: linear-gradient(to top, white,rgba(216, 205, 205, 0.678));
}

.bg-image{
    background-image:linear-gradient(to top, #e67b005e, #dcf5fa52), url(/assets/bg.png);
    background-repeat: repeat;
}

 /* navigation style */
 .nav-main{
    width: 1160px;
    height: 62px;
    justify-content:space-between;
    align-items: center;
    margin: 20px auto;
   
    
   
 }
 .left-side{
   align-items: center;
    
 }
 .nav-title{
    font-size: 2rem; 
    font-weight: 600;
    color: black;

 }

 .logo-img{
    width: 67px;
    height: 67px;

    
  }

.middle-side{
    align-items: center;
    justify-content: center;
    
}

.links{
    gap: 20px;;
}
 .link1{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
 }

 .link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight:600;
    

 }
 .list{
    list-style: none;
 }

 .nav-btn{
    background-color: rgba(254, 163, 1, 1);
    color: white;
    width: 197px;
    height: 54px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;

 }


 /* banner sactions styles.. */

 .banner{
    max-width: 1160px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
 }

 

 .banner-title{
    font-size: 3.5rem;
    font-weight: 800;
    
 }

 .banner-description{
    font-size: 1.2rem;
    font-weight: 400;
  
}

.black-button{
    background-color: rgb(5, 5, 5);
    color: white;
    width: 197px;
    height: 54px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;

}

/* Standard curriculum.. */

.standard-curriculum{
      text-align: center;
      margin: 200px auto;
}

.Curriculum-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
}

.card-container{
    
    gap: 28px;
    justify-content: center;
    margin:0 auto;
    
}

.bg-color1{
    /* background-color: linear-gradient(to top, white,rgba(255, 255, 255, 0.863), #7ce3fafd); */
    background:linear-gradient(to top, white, rgba(247, 250, 250, 0.932), rgb(178, 245, 245));
}

.bg-color2{
    background:linear-gradient(to top, white,rgba(255, 255, 255, 0.699), rgb(248, 235, 206));
}

.bg-color3{
    background:linear-gradient(to top, white,rgba(255, 255, 255, 0.699),rgb(205, 189, 224));
}

.card{
    max-width: 370px;
    text-align: center;
    border: 1px solid rgb(197, 196, 196);
    border-radius: 8px;
    padding: 100px 40px;    
    
}

.card-title{
     font-size: 1.5rem;
     font-weight: 700;
     color: black;
     margin: 30px;
    
}


.btn-card1{
    background-color: transparent;
    color: rgba(100, 200, 255, 1);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
}

.btn-card2{
    background-color: transparent;
    color: rgba(254, 163, 1, 1);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
}

.btn-card3{
    background-color: transparent;
    color: rgba(93, 88, 239, 1);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
}

.card-description{
    font-size: 0.95rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    line-height: 25px;
}

.btn-unique{
    width: 50px;
    height: 50px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 50%;
    margin-top: 50px;
}

/* Our Stories Styles  */

.Our-stories{
    text-align: center;
    margin: 0 auto;
}
.collage-card-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 290px);
    width: 1180px;
    gap: 10px;
    margin: 100px auto;
}


.stories-card{

    background-color:white;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
}

.card-img{
   width: 280px;
   border-radius: 10px;
}

.card-img img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.story-1-card{
    grid-row: 2 span;
    background-color: white;
    width: 540px;
    gap: 10px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    /* height: 630px; */
}

.img-box-1{
    width: 540px; 
   
}

.img-box-1 img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.stories-para-1{
    font-size: 0.9rem;
    color: rgb(114, 112, 112);
     /* width: 420px; */
    
}

.stories-title-1{
    /* width: 436px; */
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}    





.card-img{
    width: 100%;
    
}




    
.stories-btn1{

    width: 33%;
    cursor: pointer;
    position: absolute;
    bottom:230px;
    left: 50px;
    
}

.s-btn1{
    background-color: rgba(60, 216, 232, 1);
    color: white;
    padding:13px 25px;
    font-size: 0.9rem;
    font-weight: 400;
    border: none;
    border-radius: 40px;

}
 

.common-btn{
    margin: 0;
    cursor: pointer;
    position: absolute;
    bottom:80px;
    left: 50px;
}

.stories-btn2{

  background-color: rgba(149, 178, 38, 1);
  color: white;
  font-size: 0.7rem;
  border: none;
  padding: 13px 23px;
  border-radius: 40px;
   
}

.stories-btn-blue{
    background-color: rgba(93, 88, 240, 1);
    color: white;
    font-size: 0.7rem;
    border: none;
    padding: 13px 23px;
    border-radius: 40px;
    

}

.stories-btn-small{
    background-color: rgba(149, 178, 38, 1);
    color: white;
    padding: 13px 15px;
    font-size: 0.7rem;
    border: none;
    border-radius: 40px;
    

}

/* Footer section.. */

                          

.footer{
    height:100vh;
    padding: 100px 50px;
    margin: 50px auto;
    background-color: rgb(95, 183, 241);
    color: white;
    justify-content: space-around;
    align-items: center;

}
.footer-logo{
    align-items: center;
}


.footer-p{
    width: 400px;
    font-size: 1.2rem;
    font-weight: 300;
}

.footer-title{
    font-size: 2.6rem;
    font-weight: bold;
}
.footer-list{
    list-style: none;
    margin:10px;
}
.footer-link{
    
    text-decoration: none;
    color: white;
}

.icon{
   padding: 5px;
}

.right-footer{
    justify-content: start;
}
.right-footer h3{
    font-size: 1.6rem;
    font-weight: 500;
    
}
 

 @media screen and (max-width:576px) {
          
         .nav-main{
            display: none;
          }   
          .nav-mobile{
            max-width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgb(245, 171, 33);
            padding: 5px 30px;
          }


          .banner{
            flex-direction: column-reverse;
            justify-content: center;

          }
          .banner-content{
            text-align:center ;
            margin:20px;
          }

          .standard-curriculum{
            justify-items: center;


          }

          .card-container{
            flex-direction: column;
            align-items: center;
            
          }
          .btn-for-desktop{
            display: none;
          }



          .footer{
            width: 100%;
            flex-direction: column;
            align-items: start;
            padding: 30px 20px;
            margin: 0 auto;
          }

          .middle-footer{
            justify-items: left;
            margin-left: 0px;
          }

          .links{
            padding: 0px;
          }


 } 
    
 